<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    <!-- Lien Instagram (remplacez 'votre_username_instagram' par votre nom d'utilisateur réel) -->
    <li><a href="https://instagram.com/lefilasouvenirs" rel="nofollow noopener noreferrer"><i class="fab fa-instagram" aria-hidden="true"></i> Instagram</a></li>

    <!-- Lien 'Contactez-Nous' -->
    <li><a href="/lefilasouvenirs/contact" rel="nofollow noopener noreferrer"><i class="fas fa-envelope" aria-hidden="true"></i> Contactez-Nous</a></li>

  </ul>
</div>

<!-- Suppression de la partie "Powered by" -->
<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</div>
